services:
  client_api:
    build:
      context: .
      dockerfile: Dockerfile
      target: app
    container_name: client_api
    entrypoint: ["uvicorn", "src.api:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      - SERVER_SOCKET_PATH_1=/tmp/sockets/server_1.sock
      - SERVER_SOCKET_PATH_2=/tmp/sockets/server_2.sock
    volumes:
      - ./sockets:/tmp/sockets
    ports:
      - "8000:8000"

  client_cli:
    build:
      context: .
      dockerfile: Dockerfile
      target: app
    container_name: client_cli
    entrypoint: ["python", "src/cli.py"]
    tty: true
    stdin_open: true
    environment:
      - SERVER_SOCKET_PATH_1=/tmp/sockets/server_1.sock
      - SERVER_SOCKET_PATH_2=/tmp/sockets/server_2.sock
    volumes:
      - ./sockets:/tmp/sockets